<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vector.Properties.Settings.Coordinate_tableConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\isaenkov_as\Desktop\ГИС\Vector\Coordinate_table.accdb"
            providerName="System.Data.OleDb" />
        <add name="Vector.Properties.Settings.MyBaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\isaenkov_as\Desktop\ГИС\Vector\MyBase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>